<div class="main"><h3>Hi {{ name }},</h3>
  {{#if accepted}}
    <p>Congratulations, you've been accepted into our WaiveWork program! We are excited to offer you a car rental which includes insurance and maintenance for just ${{price}} per week. Before getting into your car, head over to <a href="{{#if passwordlink}}{{passwordlink}}{{else}}https://waivework.com/login{{/if}}">your account page</a> and fill in your information. After you've filled in your information, call us at 855-924-8355 and we will finish the process. If you've already created your account and filled in your account information, call us at 855-924-8355.</p>
    <p>Due to high demand, this offer is only valid for 30 days.</p>
    <p><a href="{{#if passwordlink}}{{passwordlink}}{{else}}https://waivework.com/login{{/if}}">Go here to finish your account</a></p>
  {{else if rejected}}
    <p>Thank you for your interest in WaiveWork. Unfortunately we were unable to move forward with your application right now. This could be due to a number of reasons, including not having cars available for booking. You have been added to our info list and you will be the first to know when opportunities with WaiveWork are available in the future.</p>
  {{else if incomplete}}
    <p>Your WaiveWork application has been submitted and it seems we don't have all the information we need to give you an accurate quote. This can happen for a number of reasons, including:</p>
    <ul>
      <li>An incorrectly entered driver's license number on your application.</li>
      <li>A driver's license with too short of a driving history (include a driver's license with a longer history if you have one).</li>
      <li>An incorrectly entered date of birth on your application (make sure to use your birth year).</li>
      <li>A P.O. Box or business address on your application. All applications must use a residential address.</li>
    </ul>
    <p>
    The information that you signed up with was: 
      <ul>
      {{#if notes}}
        <li>Name: {{notes.firstName}} {{notes.lastName}}</li>
        <li>License Number: {{notes.number}}</li>
        <li>License State: {{notes.licenseState}}</li>
        <li>Birthday: {{notes.birthDate}}</li>
        <li>Expiration: {{notes.expirationDate}}</li>
        <li>Address: </li>
        <ul>
          <li>{{notes.street1}}</li>
          {{#if notes.street2}}
            <li>{{notes.street2}}</li>
          {{/if}}
          <li>{{notes.city}}, {{notes.state}} {{notes.zip}}</li>
        </ul>
        <li>Email: {{notes.email}}</li>
        <li>Phone: {{notes.phone}}</li>
        {{else}}
          <li>Information not available</li>
        {{/if}}
      </ul>
    </p>
  <p>If you have questions or need more information, respond to this email and we will be happy to assist you. Additionally, you can call us at 855-924-8355. If you see a mistake in the information above, you can try <a href="https://waivework.com/signup">signing up again here</a>.
  {{else if nonmarket}}
    <p>Thank you for your interest in WaiveWork. Unfortunately we aren't servicing your location just yet. You have been added to a list for us to contact you when we launch in your area!  Inquiries like yours help us prioritize as we expand.</p>
    <p>If you are driving in the Los Angeles area, please <a href="https://waivework.com/signup">sign up again here</a> using a Los Angeles address.</p>
  {{/if}}  
  <p>
    Waive
  </p>
</div>
