extends ../layout-email
block content
  p
    | Hello #{ username },
  p
    | You have requested a password reset for 
    a(href=siteLink) #{ siteName }
    |.
  p
    | If you did indeed request a reset, please follow the 
    a(href=resetlink) reset password link 
    | to enter your new password.
  p
    | Regards,
    br
    | The Team
  .form-actions.text-center
    a.btn.btn-primary.btn-large(href=resetlink) Reset Password
