<div class="main"><h3>Hello Dennis,</h3>
  <p>
    Here is a new signup that we have received for Waivework. Could you please get a quote for us for this potential user?
    Their information is as follows: 
  </p>
  <p>
    Name: {{firstName}} {{lastName}}<br>
    For Rideshare: {{rideshare}}<br>
    License Number: {{number}}<br>
    License State: {{licenseState}}<br>
    Birthday: {{birthDate}}<br>
    Expiration: {{expirationDate}}<br>
    Address: <br>
    {{street1}}<br>
    {{#if street2}}
      {{street2}}<br>
    {{/if}}
    {{city}}, {{state}} {{zip}}<br>
    Email: {{email}}<br>
    Phone: {{phone}}<br>
  </p>
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
